	
	<div class="table_options"><%= image_tag "bt_more_dark.png" %> 
	<a href="/collections/new"><%= image_tag ("bt_add_dark.png" )%></a>
	
	</div><h1>Collections</h1>
	<div class="table">
	<% @collections.each do |collection| %>
	<article>
		<a href="/collection/<%=collection.name%>">
			<div class="counter">
				<%=collection.count%>
			</div>
			<div class="cell"><h2><%=collection.title%></h2>
				<%=collection.description%>
			</div>
		</a>
	</article>
	<% end %>
	</div>

