	<div class="table_options"><%= image_tag "bt_more_dark.png" %> 
	<a href="/collections/new"><%= image_tag ("bt_add_dark.png" )%></a>
	
	</div><h1>Collections</h1>
	<div class="table">
	<% @collections.each do |collection| %>
	<article class="table_item">
			<div class="table_item_menu">
			 <div>
			 	<%= link_to image_tag("bt_enter_light.png", :border=>0), collection.name %>
			 	</div>
			  	<div>
			   		<%= link_to image_tag("bt_delete_light.png", :border=>0), 'collection/'+collection.name+'/delete', :confirm => 'Confirm Deletion?', :method => :delete %>
 						
 						<%= link_to image_tag("bt_edit_light.png", :border=>0), 'collection/'+collection.name+'/edit' %>
				</div>
			</div>
			<a href="/collection/<%=collection.name%>">
			<div class="counter">
				<%= collection.count %>
			</div>
			<div class="cell"><h2><%= collection.title %></h2>
				<%= collection.description %>
			</div>
		</a>
	</article>
	<% end %>
	</div>

