<h1>Collection <span>> New</span></h1>
<script type="text/javascript">
	$(document).ready(function(){
		$("#title").change(function(){
				strVal= remove_special_chars($("#title").val());
				$("#name").val(strVal);
			});
	});
</script>

<%= flash[:error] %>

<%= form_tag('/collections/create', :method => "post") do %>
  <div>
  	<%= label_tag :name, "Key:", :class => 'label_title' %>
  	<%= text_field_tag(:name, "",{:size=>60, :readonly=>'readonly', :style=>'background-color:#cccccc;' }) %>
  </div>
  <div>
  	<%= label_tag :title, "Title:" , {:class => 'label_title'} %>
  	<%= text_field_tag(:title, "", {:size=>60, :placeholder => 'the title of your collection'}) %>
  </div>
  <div>
  	<%= label_tag :description, "Description:", :class => 'label_title' %>
  	<%= text_area_tag(:description, "",:size=>'50x5') %>
  </div>
  <div>
  	<span class="label_title">Allowed Data Templates:</span>
  	<% @data_templates.each do |data_template| %>
  		<%= check_box_tag(:data_template_ids, data_template._id) %>
  		<%= label_tag(:data_template_ids, data_template.title) %><br/>
	<% end %>
  </div>
  <div>
  	<%= submit_tag("Create Collection") %>
  </div>
<% end %>

