<div class="table_options">
	<%= image_tag "bt_more_dark.png" %> <a href="/collection/<%= @collection.name%>/new"><%= image_tag ("bt_add_dark.png" )%></a>
</div>
<h1> <%= @collection.title%> <span>> Collection</span></h1>
<div class="table">
	<% @documents.each do |document| %>
	<article class="table_item">
		<div class="table_item_menu">
			<div>
				<%= link_to image_tag("bt_enter_light.png", :border=>0),
        @collection.name+'/'+document._id.to_s %>
			</div>
			<div>
				<%= link_to image_tag("bt_delete_light.png", :border=>0),
        @collection.name+'/'+document._id.to_s+'/delete', :title => 'Confirm Deletion?', :class=>'dialog' %>

				<%= link_to image_tag("bt_edit_light.png", :border=>0),
  @collection.name+'/'+document._id.to_s+'/edit' %>
			</div>
		</div>
		<a href="/collection/<%= @collection.name%>/<%= document._id%>">
		<div class="cell">
			<h2><%= document.title%></h2>
			<%= document.description%>
		</div> </a>
	</article>
	<% end %>
	<%= paginate @documents %>
</div>
